#hero {
    width: $hero-width;
    height: $hero-height;
    transform: translate(calc($hero-height / 2 * -1), calc($hero-width / 2 * -1));
    background-color: red;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

#hero-health {
    position: absolute;
    width: 80px;
    height: 30px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('img/health-bar.png');
    z-index: 1;

    &::after{
        content: '';
        position: absolute;
        left: 10px;
        top: 10px;
        width: 60px;
        height: 10px;
        background-color: green;
        z-index: 1;
        transition: width 0.2s ease-out;
    }
}