.wall {
    width: 150px;
    height: 110px;
    background-image: url('../img/car.png');
    background-size: contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}